# ===== CORE ML =====
numpy==1.26.4
transformers==4.38.2
accelerate==0.27.2
peft==0.10.0
trl==0.8.6
datasets
rich
wheel

# ===== OTIMIZAÇÕES E LLM =====
bitsandbytes==0.42.0
triton==2.2.0

# ===== DOCUMENT PROCESSING =====
pymarc
pymupdf
python-docx
lxml

# ===== UTILS =====
gdown