# ===== CORE ML =====
numpy
transformers==4.44.2
accelerate==0.34.2
peft==0.12.0
trl==0.10.1
datasets
rich
wheel
sentencepiece
protobuf

# ===== OTIMIZAÇÕES E LLM =====
bitsandbytes
triton

# ===== DOCUMENT PROCESSING =====
pymarc
pymupdf
python-docx
lxml

# ===== UTILS =====
gdown